#resto {
	.image {
		max-height: 150px;
    	margin: 0 auto 0;
    	display: block;
		width: 100%;
	}
	.br {
		border: #04B431 2px solid;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.description {
		
		margin: 10px;
	}
	h4,h3 {
		color: #DA7038;
	}
	p {
		line-height: 20px;
	}
	.map {
		background: url('../assets/imgs/map.ico') no-repeat; 
		width: 25px;
    	height: 30px;
    	background-size: 100% 30px;	
		margin: 15px auto 0;
	}
	.note {
		font-weight: bold;
		font-size: 20px;
	}
	.input_note {
		width: 50%;		
		margin: 10px auto 0;
	}
	.add {
		background: url('../assets/imgs/add.png') no-repeat; 
		width: 20px;
    	height: 25px;
    	background-size: 100% 25px;	
		margin: 15px auto 0;
	}
	.orange {
		background-color:#DA5538;
		margin-top: 15px;
	}
}
ion-slides {
	max-height: 150px;
    margin-top: 80px;
}
