
<ion-header>

  <ion-navbar>
    <ion-title>Les commentaires</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
            <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ul class="list">       
        <span *ngIf="commentaires == 0">Aucun commentaire.</span>    
        <li class="item item-toggle commentaire" *ngFor="let commentaire of commentaires"> 
           <div class="description">    
                <h3 class="ng-scope ng-binding">{{commentaire.commentaire}}</h3>
                <p class="ng-scope ng-binding">Date : {{commentaire.date}} </p>
                <p class="ng-scope ng-binding">Par : {{commentaire.pseudo}}</p>
            </div>
        </li>
    </ul>
</ion-content>
