#restaurants {
	h1 {
		margin-top: 10%;
		margin-bottom: 10%;
		color: #DA5538;
	}
	.list {
		padding: 0;
	}
	.restaurant {
		border-top: 2px solid #DA5538;
    	border-bottom: 2px solid #DA5538;
		max-height: 100%;
    	margin-top: 15px;
		.image {
			float: left;
			max-width: 30%;
			max-height:100%;
			margin-top: 15px;
			margin-bottom: 15px;			
		}
		.description {
			float: left;
    		    max-width: 60%;
    			margin-left: 20px;
    			margin-top: 10px;
    			color: #000;
			h3 {
				color: #DA5538;
			}
		}
	}	
}

