
.page {
	 background: url('../assets/imgs/background-page.png') repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
button {
	font-size: 16px;
	font-weight: bold;
	&.orange {
		background-color: #DA5538;
	}
	&.orange2 {
		background-color: #DA7038;
		margin-top: 20px;
	}
}
.form {
	margin-top: 30%;
}