
.page {
	 background: url('../assets/imgs/background-page.png') repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.item-menu {
  font-size: 16px;
	font-weight: bold;
  color: #DA5538;
}
button {
	font-size: 16px;
	font-weight: bold;
	&.orange {
		background-color: #DA5538;
	}
	&.orange2 {
		background-color: #DA7038;
		margin-top: 20px;
	}
}
.form {
	margin-top: 30%;
}
.toolbar-background-md {
  border-color: #b2b2b2;
  background: #DA7038;
}
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: #ffffff;
  background-color: transparent;
}
.toolbar-title-md {
  padding: 0 12px;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}


.bar-button-default-md:hover:not(.disable-hover),
.bar-button-clear-md-default:hover:not(.disable-hover),
.bar-button-md-default:hover:not(.disable-hover) {
  color: #424242;
}