#welcome {
    background: url('/assets/imgs/background.png') repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	h1 {
		text-align: center;
    	font-size: 36px;
    	font-style: oblique;
		color: #DA5538;
	}
	.logo {
		margin: 30% auto 0;
	}
	p {
		font-size: 14px;
    	text-align: center;
    	line-height: 20px;
	}	
	.buttons {
		margin-top: 15%;
		button {
			font-size: 16px;
			font-weight: bold;
			&.orange {
				background-color: #DA5538;
			}
			&.orange2 {
				background-color: #DA7038;
				margin-top: 20px;
			}
		}
	}
}
